/* -*-CSS-*- */

.activequizplainbox {
    padding: 10px;
    margin: 10px;
}

.activequizbox {
    border: 1px solid;
    border-radius: 8px;

    padding: 20px;
    margin: 10px;
}

.activequizbox .row {
    margin: 5px;
}

/** Edit page CSS **/

.activequizbox .questionlist li {
    border: 1px solid;
    border-radius: 5px;
    min-height: 30px;
    margin-top: 5px;
    padding: 10px;
    background: white;
}

.activequizbox .questionlist li:hover {

    background: #dbdbdb;
}

.activequizbox .questionlist li div {
    display: inline-block;
}

.activequizbox .questionlist .dragquestion {
    width: 10%;
    cursor: move;
}

.activequizbox .questionlist .icon {
    vertical-align: middle;
}

.activequizbox .questionlist .name {
    width: 50%;
    vertical-align: middle;
}

.activequizbox .questionlist .name p {
    margin: 0;
}

.activequizbox .questionlist .controls {
    width: 30%;
    vertical-align: middle;
}

.activequizbox .questionlist .controls img {
    margin-right: 5px;
}

.activequizbox .questionlist .controls .space {
    width: 12px;
}

.rtqstatusbox {
    border-radius: 20px;
    margin: 10px 5px 10px 35px;
    padding: 10px;
}

.rtqhiddenstatus {
    display: none;
}

.rtqsuccessstatus {
    display: block;
}

.rtqerrorstatus {
    display: block;
    background: #ff8e89;
}

.activequizbox .inline-block {
    display: inline-block;
}

.activequizbox .span6 {
    vertical-align: top;
    width: 49.5%;
}

.activequizbox .row .span6{
    padding: 5px;
}

/** end edit questions **/

.question_save {
    height: 30px;
}

@media (min-width: 480px) {
    .question_save {
        margin-left: 8em;
    }
}

.activequizloading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%
}

.activequiz_editicons {
    display: inline-block;
    width: 20%;
}

.activequiz_highlight_correct {
    background: #81dca3;
}

#quizinfobox {
    background-color: #d9edf7;
}

.activequizbox .submit {
    display: none;
}

.activequizbox .rtq_inquiz {
    display: inline-block;
}

.activequizbox .btn-hide {
    display: none;
}

/** Mod form styles **/
#id_reviewoptionsettings .fitem {
    float: left;
    width: 30%;
    clear: none;
}

#id_reviewoptionsettings .fitemtitle {
    width: 100%;
    font-weight: bold;
    text-align: left;
    height: 2.5em;
    margin-left: 0;
}

#id_reviewoptionsettings fieldset.fgroup {
    clear: left;
    margin: 0 0 1em;
}

#id_reviewoptionsettings fieldset.fgroup > span {
    float: left;
    clear: left;
    line-height: 1.7;
}

#id_reviewoptionsettings fieldset.fgroup span label {
    margin-left: 0.4em;
}

#id_reviewoptionsettings .fitem {
    float: left;
}

#id_reviewoptionsettings .fitemtitle {
    text-align: left;
}

/** Modal Jump-to-question css **/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.jumptoquestionclose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.jumptoquestioncloseclose:hover {
    background: #00d9ff;
}

#notrespondedbox {
    background-color: #d9edf7;
}

#notrespondedlist {
    width: 30em;
    padding: 10px;
}

#notrespondedlist li {

    float: left;
    width: 10em;
}

#quizview .hidden{
    display: none;
    visibility: hidden;
}

.activequizbox.isanonymous {
    background-color: #d7f5d7;
}
